<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404 - North Forms</title>
	<link rel="stylesheet" href=<%= nav %> type="text/css">
</head>
<body>
	<%- include('partials/nav.ejs') %>
	<div>
		<h1>404</h1>
		<h4>Page not found.</h4>
	</div>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
		a {
			text-decoration: none;
			color: inherit;
		}
		body {
			margin: 0;
			background: #1e1e1e;
		}
		div {
			position: absolute;
			top: 200px;
			width: 100vw;
		}
		h1 {
			font-size: 120px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			color: #ccc;
			text-align: center;
			margin: 0;
		}	
		h4 {
			font-size: 40px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 500;
			color: #ccc;
			text-align: center;
			margin-left: 12px;
			margin-top: 10px;
		}	
	</style>
</body>
</html>
