<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
	<%- include('partials/nav.ejs') %>
	<div>
		<h1>404 Page Not Found</h1>
		<h4>
			It seems that the page you are requesting
			went out to buy milk but never came back :(
		</h4>
	</div>	
</body>
</html>
