<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
	
	<%- include('partials/nav.ejs') %>
	<form>
		<div id="form-head-container">
			<textarea id="ctitle" name="title" class="cform txtauto" spellcheck="false" placeholder="Form Title">My Form</textarea>
			<div id="icon-container">	

				<input type="file" accept="image/png, image/jpeg" id="cicon" name="icon" onchange="iconCtrl(event)">
				<div id="cicon-container" onmouseover="this.style.opacity=1">
					<label for="cicon"><div id="cam-mask"></div></label>
					<div id="rm-icon"><div id="trash-mask"></div></div>	
				</div>
				<img id="icon-display">
			</div>
		</div>
		<div id="form-background" autocomplete="off">

			<div id="top-border"></div>
			<div id="main-contents-container">

				<textarea id="cdesc" name="desc" class="cform txtauto" 
					spellcheck="false" placeholder="Add a description..."></textarea>
				<div id="fields-container">	

					<div>
						<input id="clabel-0" name="label-0" class="cform clabel" value="Field Title"
						placeholder="Field Title Here">
					</div>
					<div>
						<input id="cinput-0" name="input-0" class="cform cinput"
						placeholder="Placeholder (empty if omitted)">
					</div>

				</div>
				<p id="add-field">+ Add a field</p>
			
			</div>
		</div>
	</form>
	<script>
		window.onload = () => {
			textareaResize();
			hideIcon();
			addField();
		}
	</script>
</body>
</html>
