<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
	<%- include('partials/nav.ejs') %>
	<div id="center-container">
		<div id="slogan-button-container">
		<div id="slogan"><p>Create forms easier than ever.</p></div>
		<a id="create-form" href="/create-form">Create a Form</a>
			</div>

		<div id="rick-container">
		<img id="rick-happy" src="/files/rick-happy.webp">
		<div id="rick-gradient"></div>
			</div>
	
	</div>
</body>
</html>
