<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>North Forms</title>
	<link rel="stylesheet" href=<%= css %> type="text/css">
	<link rel="stylesheet" href="/files/nav.css" type="text/css">
</head>
