@import 'modules/exports';

* { box-sizing: border-box }

form {
	margin: 0 auto;
	width: fit-content;
	margin-top: 80px;
}

.cform {
	background: none;
	border: none;

	&:focus { outline: none }
}

.clabel {
	@include Mainfont-M;
	color: $light3;
	font-size: 18px;
	margin-bottom: 14px;
	margin-top: 25px;
	width: fit-content;

	&:focus {
		padding-bottom: 5px;
		border-bottom: 1px solid $light3;
	}
}

.cinput {
	background-color: $Cpurple-bg;
	height: 35px;
	border-radius: 7px;
	font-size: 15px;
	color: $grey1;
	padding-left: 10px;
	width: 20em;
	margin-bottom: 30px;

	&::placeholder {
		color: inherit;
		opacity: 1;
	}
}

#form-head-container {
	display: flex;
	align-items: center;
}

#ctitle {
	color: #ccc;
	overflow: hidden;
	resize: none;
	@include Mainfont-B;
	font-size: 45px;
	width: 685px;
	margin-left: 16px;
	margin-right: 50px;
	padding-bottom: 12px;
	
	&:focus {
		width: 800px;
		border-bottom: 1px solid $light3;
		margin-bottom: 33px;
	}
}

#cicon { display: none }

#icon-container { 
	display: flex;
	align-items: center;
	justify-content: center;
}

#icon-display {
	position: absolute;
	display: none;
	width: 100px;
	height: 100px;
	border-radius: 10px;
	object-fit: cover;
}

#cicon-container {
	display: flex;
	flex-direction: column;
	z-index: 1;
	
	&:hover { cursor: pointer }
	&:hover + img { opacity: 0.5 }
}


[for="cicon"] {	
	color: $grey2;
	border: $grey1 dashed 2px;
	border-radius: 10px;
	overflow: hidden;
	
	&:hover { cursor: pointer; }
	#cam-mask {
		background-color: $light3;
		width: 28px;
		height: 28px;
		margin: 35px;
		-webkit-mask: url(/files/camera-solid.svg) no-repeat center;
		mask: url(/files/camera-solid.svg) no-repeat center;	
	}
}

#trash-mask {
	display: none;
	background-color: $light3;
	width: 15px;
	height: 15px;
	-webkit-mask: url(/files/trash-solid.svg) no-repeat center;
	mask: url(/files/trash-solid.svg) no-repeat center;
}

.iconCtrl-label {
	border-radius: 10px 10px 0 0;
	margin-bottom: 2px;

	#cam-mask {
		margin-top: 18px;
		margin-bottom: 15px;
	}
}

.iconCtrl-rm-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	border-radius: 0px 0px 10px 10px;
	background: $red1;

	#trash-mask { display: block }
}
 
#form-background {
	display: flex;
	width: 900px;
	margin: 0 auto;
	margin-top: 40px;
	filter: drop-shadow(0 0 20px black);
}

#top-border {
	width: 100%;
	background-color: $Cpurple-fg;
	height: 100px;
	border-radius: 30px;
}

#main-contents-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: $dark2;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	padding: 40px 16.65%;
	top: 25px;	
}

#cdesc {
	resize: none;
	color: $light1;
	font-size: 16px;
	@include Mainfont-R;
	border-radius: 5px;
	padding: 5px;
	height: fit-content;
	
	&:focus { outline: $grey1 solid 1px }
}

hr {
	width: 92%;
	opacity: 0.3;
}

#add-field {
	color: $grey2;
	@include Mainfont-M;
	margin: 0;

	&:hover { cursor: pointer }
}
