@import 'modules/exports';

form {
	margin: 0 auto;
	width: fit-content;
	margin-top: 80px;
}

.cform {
	background: none;
	border: none;

	&:focus { outline: none }
}

.clabel {
	@include Mainfont-M;
	color: $light3;
	font-size: 18px;
	margin-bottom: 14px;
	margin-top: 25px;
	width: fit-content;

	&:focus {
		padding-bottom: 5px;
		border-bottom: 1px solid $light3;
	}
}

.cinput {
	background-color: $Cpurple-bg;
	height: 35px;
	border-radius: 7px;
	font-size: 15px;
	color: $grey1;
	padding-left: 10px;
	width: 20em;
	margin-bottom: 30px;

	&::placeholder {
		color: inherit;
		opacity: 1;
	}
}

.pencil {
	display: none;
	background-color: $light3;
	-webkit-mask: url(/files/pencil-solid.svg) no-repeat center;
	mask: url(/files/pencil-solid.svg) no-repeat center;
	width: 28px;
	height: 28px;
	margin-right: 12px;
}

.labpencil {
	width: 12px;
	height: 12px;
	margin-right: 3px;
}

#form-head-container {
	display: flex;
	align-items: center;
}

#ctitle {
	color: #ccc;
	overflow: hidden;
	resize: none;
	@include Mainfont-B;
	font-size: 45px;
	width: 685px;
	margin-left: 16px;
	margin-right: 50px;
	
	&:focus {
		width: 800px;
		padding-bottom: 12px;
		border-bottom: 1px solid $light3;
		margin-bottom: 33px;
	}
}

#cicon { display: none }

[for="cicon"] {
	display: inline-block;
	position: relative;
	@include Mainfont-M;
	color: $grey2;
	border: $grey1 dashed 2px;
	border-radius: 10px;
	padding: 35px;
	top: -16px;
	
	&:hover { cursor: pointer }
	
	&>div {
		display: inline-block;
		background-color: $light3;
		width: 28px;
		height: 28px;
		-webkit-mask: url(/files/camera-solid.svg) no-repeat center;
		mask: url(/files/camera-solid.svg) no-repeat center;
	}
}

#form-background {
	display: flex;
	width: 900px;
	margin: 0 auto;
	margin-top: 40px;
	filter: drop-shadow(0 0 20px black);
}

#top-border {
	width: 100%;
	background-color: $Cpurple-fg;
	height: 100px;
	border-radius: 30px;
}

#main-contents-container {
	width: 66.7%;
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: $dark2;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	padding: 40px 16.65%;
	top: 25px;	
}

#cdesc {
	resize: none;
	color: $light1;
	font-size: 16px;
	@include Mainfont-R;
	border-radius: 5px;
	padding: 5px;
	height: fit-content;
	
	&:focus { outline: $grey1 solid 1px }
}

hr {
	width: 92%;
	opacity: 0.3;
}

#add-field {
	color: $grey2;
	@include Mainfont-M;
	margin: 0;

	&:hover { cursor: pointer }
}
