@import 'modules/exports';

#center-container {
	display: flex;
	overflow: hidden;
	width: 1300px;
	height: fit-content;
	margin: 0 auto;
	
	#slogan-button-container {
		align-self: center;
		
		#slogan {	
			p {
				@include Mainfont-B;
				font-size: 70px;
				color: $light1;
				margin: 0;
				width: 700px;
			}
		}

		#create-form {
			display: block;
			margin-top: 80px;
			@include Mainfont-M;
			color: $light1;
			background: $purple1;
			padding: 10px;
			border-radius: 7px;
			width: fit-content;
			transition: background 100ms;

			&:hover { background: $purple2; }
			&:active { opacity: 0.8; }
		}
	}

	#rick-container {
		margin-left: auto;
		
		#rick-happy {
			width: 531px;
		}

		#rick-gradient {
			background: linear-gradient(0deg, $dark1 13%, rgba(204,204,204,0) 100%);
			width: 531px;
			height: 50%;
			position: relative;
			top: -50%;
		}
	}
}
